{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Wordplease {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
</head>
<body>
    <h1>
        Wordplease
    </h1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'home' %}" title="home">Home</a></li>

                <li><a class="navbar-brand" href="{% url 'post_list' %}" title="blogs">Blogs</a></li>

                <li><a class="navbar-brand" href="{% url 'RegistroUsuario' %}" title="registro">Registro</a></li>

            {% if user.is_authenticated %}

                <li><a class="navbar-brand" href="{% url 'logout' %}" title="logout">logout</a></li>

                <li> <a class="navbar-brand" href="{% url 'mis_post' user %}" title="Login">Mis post</a></li>

                <li><a class="navbar-brand" href="{% url 'new_post' %}" title="new">New post</a></li>

            {% else %}

                <li><a class="navbar-brand" href="{% url 'login' %}" title="Login">Login</a></li>

            </ul>
        </div>
    </nav>


    {% endif %}
    <hr>
{% block content %}{% endblock %}

</body>
</html>